.box {
    position: absolute;
    bottom: 0px;
    min-height: 50vh;
    max-height: 100dvh;
    right: 0;
    left: 0;
    z-index: 3;

    display: grid;
    width: auto;
    grid-template-rows: min-content;
    background-color: aliceblue;

    .box-header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
        font-weight: 600;
        font-size: 1.2rem;
        background: rgb(196, 196, 196);
    }

    .box[active]{
        background-color: aquamarine;
    }

    .box-menu {
        background-color: rgb(219, 219, 219);
        overflow-y: auto;
        padding-bottom: 1rem;
    }
}

.close-box {
    position: absolute;
    top: .7rem;
    left: .5rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .box {
        position: fixed;
    }
}
