.todoCreationForm {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    height: 100%;
    padding: 1rem;
    background-color: rgb(218, 218, 218);

    textarea {
        min-height: 2rem;
    }

    .checklists-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .check-list-box {
            width: 100%;

            display: flex;
            gap: 1rem;

            .checkList {
                flex-grow: 1;
            }
        }
    }

    .priority {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        gap: .2rem;

        .prio {
            border-radius: .5rem;
            padding: .2rem .5rem;
            cursor: pointer;
            background-color: beige;
        }
    }

    .bottom {
        margin-top: auto;

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

        .date {
            input {
                font-size: 16px;
            }
        }

        button {
            margin-left: auto;
        }

        .create-check-list {
            background-color: green;
            border-radius: .5rem;
            padding: .4rem;
            cursor: pointer;
        }
    }
}